/* tag Setting */
*{margin:0;padding:0;}
ul,li{list-style:none;}
body{font-family:arial,"Malgun Gothic","MalgunGothic";font-size:15px;font-weight:200;}
a{text-decoration:none;color:inherit;transition:.3s;}
a:hover{text-decoration:underline;}
img{border:none;}
input,select,img,textarea{vertical-align:middle;font-family:inherit;}
i{vertical-align:middle;}
fieldset{border:none;}
label{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,th{font-weight:200;}
button{cursor:pointer;}
select{height:40px;}

/* layout */
#header{border-bottom:1px solid #ddd;box-shadow:0 0 10px #aaa;}
#header .logo a{text-decoration:none;color:#09f;font-size:30px;font-weight:200;}
#header .util{padding:5px 0;background:#f5f5f5;border-bottom:1px solid #ddd;font-size:11px;position:relative;}
#header .util>div{text-align:right;width:1200px;margin:0 auto;}
#header .util:after{content:"";clear:both;display:block;}
#header .util a{display:inline-block;}
#header .util a+a:before{content:"";width:1px;height:10px;display:inline-block;vertical-align:middle;margin:-3px 10px 0;background:#bebebe;}
#header .content{margin:0 auto;width:1200px;position:relative;display:flex;justify-content:space-between;align-items:center;height:80px;}
#header .gnb{display:flex;}
#header .gnb a{padding:0 40px;font-size:17px;text-decoration:none;line-height:80px;display:block;}
#header .gnb a.active,
#header .gnb a:hover{background:#09f;color:#fff;}
#footer{padding:40px 0;background:#666;color:#fff;text-align:center;position:relative;z-index:20;margin-top:100px;}
.site-content{margin:0 auto;width:1200px;padding:100px 0;}

/* frm table */
.frm_title{text-align:center;font-size:23px;font-weight:200;margin-bottom:30px;}
.frm_title:before,
.frm_title:after{content:"";width:200px;display:inline-block;vertical-align:middle;height:1px;background:#ddd;margin:-3px 20px 0;}
.frm_table label{display:block;margin-bottom:20px;}
.frm_table strong{display:block;margin-bottom:5px;font-weight:200;color:#237fbc;}
.frm_table strong:before{content:"";display:inline-block;height:13px;width:3px;background:#237fbc;margin-right:5px;}
.frm_table input{height:40px;padding:5px;box-sizing:border-box;background:#eee;font-size:13px;border:none;}
.frm_table textarea{padding:5px;box-sizing:border-box;background:#eee;font-size:13px;border:none;width:100%;}
.fullSize{width:100%;}

/* data-list */
.data-list{}
.data-list table{width:100%;border-top:2px solid #666;border-collapse:collapse;border-spacing:0;}
.data-list td,
.data-list th{border-bottom:1px solid #ddd;height:40px;text-align:center;padding:0 10px;}
.data-list th{background:#f5f5f5;}
.data-list td{}

/* btn */
.btn_group{text-align:center;margin-top:20px;}
.btn_group.right{text-align:right;}
.btn_group.left{text-align:left;}
.btn{font-size:13px;display:inline-block;color:#fff;border:none;border-bottom:2px solid #666;border-radius:3px;padding:5px 10px;letter-spacing:-1px;text-decoration:none !important}
.btn.default{background:#7e8c8d;border-color:#545454;}
.btn.submit{background:#237fbc;border-color:#185983;}
.btn.point{background:#08bc9a;border-color:#06836b;}
.btn.fullSize{height:40px;line-height:40px;box-sizing:border-box;text-align:center;padding:0;margin-bottom:5px;}

/* login */
.login .frm_table{width:600px;margin:0 auto;}

/* member write */
.member_write .frm_table{width:700px;margin:0 auto;}

/* file list */
.path_route{margin:40px;text-align:center;font-size:17px;color:#666;}
.path_route a{color:#09f;text-decoration:none;}
.file_list td:nth-child(1){text-align:left;font-size:20px;}
.file_list td:nth-child(1) a{display:block;}
.file_list .back{background:#ffe;}

/* file write */
.file_write .frm_table{width:700px;margin:0 auto;}

/* share list */
.share_count{display:flex;text-align:center;margin:20px 0;}
.share_count p{margin-right:20px;}
.share_list td:nth-child(2){text-align:left;}

/* public class */
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}